<p>side-nav works!</p>
<div class="menu-icon">
    <a [routerLink]="'networking'">
        <img src="../../../assets/Icons/NetWorking.png" alt="skdjask">
    </a>

    <a [routerLink]="'rewards'">
        <img src="../../../assets/Icons/Rewards.png" alt="skdjask">
    </a>

    <a [routerLink]="'gamification'">
        <img src="../../../assets/Icons/Gamification.png" alt="skdjask">
    </a>

    <a [routerLink]="'feedback'">
        <img src="../../../assets/Icons/Feedback.png" alt="skdjask">
    </a>

    <a [routerLink]="''">
        <img src="../../../assets/Icons/Booking.png" alt="skdjask">
    </a>

    <a [routerLink]="'time-traking'">
        <img src="../../../assets/Icons/Time Tracking.png" alt="skdjask">
    </a>

    <a [routerLink]="'car-pooling'">
        <img src="../../../assets/Icons/CarPooling.png" alt="skdjask">
    </a>
</div>