@use 'src/app/style/global.scss';

img {
    width: 64px;
    height: 64px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: global.$border-size solid global.$border-color;
  border-radius: global.$border-radius;
  height: 60%;
}

a:hover {
  background-color: grey;
  border-radius: 5px;
}

.active {
  background-color: grey;
  border-radius: 5px;
}

