@use 'src/app/style/global.scss';

img {
    width: 64px;
    height: 64px;
}

.menu-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: global.$border-size solid global.$border-color;
    border-radius: global.$border-radius;
    margin: 0px 5px;

    a img {
        padding-bottom: 90%;
    }
}