<div class="menu-icon">
    <a [ngClass]="networking ? 'active': ''"  (click)="navigate('networking')">
        <img src="../../../assets/Icons/NetWorking.png" alt="skdjask">
    </a>

    <a [ngClass]="rewards ? 'active': ''"   (click)="navigate('rewards')"> 
        <img src="../../../assets/Icons/Rewards.png" alt="skdjask">
    </a>

    <a [ngClass]="gamification ? 'active': ''"  (click)="navigate('gamification')">
        <img src="../../../assets/Icons/Gamification.png" alt="skdjask">
    </a>

    <a [ngClass]="feedback ? 'active': ''" (click)="navigate('feedback')">
        <img src="../../../assets/Icons/Feedback.png" alt="skdjask">
    </a>

    <a [ngClass]="desk ? 'active': ''" (click)="navigate('desk')">
        <img src="../../../assets/Icons/Booking.png" alt="skdjask">
    </a>

    <a [ngClass]="timeTraking ? 'active': ''"  (click)="navigate('time-traking')">
        <img src="../../../assets/Icons/Time Tracking.png" alt="skdjask">
    </a>

    <a [ngClass]="carPooling ? 'active': ''"  (click)="navigate('car-pooling')">
        <img src="../../../assets/Icons/CarPooling.png" alt="skdjask">
    </a>
</div>