button {
    background-color: #6B6B6B !important;
}

mat-dialog-content {
    margin: 5px;
    padding: 5px;
}

.first {
    display: flex;
    justify-content: space-between;
}

.example-full-width{
    margin: 5px;
}

mat-form-field {
    margin: 5px;
}

#keywords{
    width: 100%;
}