//make class main to fill who whole space available
.main {
  flex: 1 1 auto;
  margin: 0px 0px 0px 0px;
  border: 3px solid #191919;
  border-color: #191919;
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
  background-color: #4D4D4D;
}