

<div class="progress-bar-container">
    <div class="progress-bar-size">
        <div class="progress-bar-length"></div>
    </div>
    <div class="pos">
        <div class="progress-bar-treshlod a"></div><p class="progress-bar-labels positionA">5</p>
        <div class="progress-bar-treshlod b"></div><p class="progress-bar-labels positionB">10</p>
        <div class="progress-bar-treshlod c"></div><p class="progress-bar-labels positionC">15</p>
        <div class="progress-bar-treshlod d"></div><p class="progress-bar-labels positionD">22</p>
    </div>
</div>
<p class="progress-bar-labels positionE">13</p>

<div class="pos1">
    <div class="progress-bar-treshlod e"></div>
</div>
