.navbar {
  display: flex;
  background-color: #333333;
  height: 70px;
  width: auto;
  color: #cecece;
  justify-content: flex-end;
}
.myProfile {
    top :50%;
    font-size: 1.5rem;
  background-color: #4d4d4d;
  cursor: pointer;
  border: solid #191919 3px;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  align-self: center;
  justify-content: center;
  text-align: center;
  margin-right: 5px;
}
.dnd {
  padding-left: 0.8rem;
  width: 100%;
  margin: 0px;
}
.slider {
    background-color: #4d4d4d;

  margin-right: 0.8rem;
  border-radius: 10px;

  align-self: center;
  justify-content: center;
  height: 40px;

  border: solid #191919 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
mat-slide-toggle {
  scale: 0.6;
}
.text{
    transform:translateY(50%);

}