<div class="navbar">
    <div class = "brakes">
        <img class="imgSize" src="../../../assets/Icons/NetWorking.png" alt="booking"/>

    </div>
  <div class="myProfile" mat-button [matMenuTriggerFor]="menu">
    <p class="text">My Profile</p>
  </div>
  <mat-menu  #menu="matMenu">
    <button class="dropDown" mat-menu-item><p class="white">

        My Profile
    </p>
</button>
    <button class="dropDown" mat-menu-item><p class="white">Help</p></button>
    <button class="dropDown" mat-menu-item><p class="white">Settings</p></button>
    <button class="dropDown" mat-menu-item><p class="white">Logout</p></button>
  </mat-menu>
<div class="slider">
    <p class="dnd">DND</p>
    <mat-slide-toggle
    class="exampleimage"
    [color]="color"
    [checked]="checked"
    [disabled]="disabled"
    >
</mat-slide-toggle>
</div >


</div>
