<h1 class="title">Gamification</h1>
<div style="display: flex; justify-content: space-between;">

  <mat-chip-listbox aria-label="Fish selection">
    <mat-chip-option (click)="changeGameEvents('lastGameEvents')">Last game events</mat-chip-option>
    <mat-chip-option (click)="changeGameEvents('pingPong')">Ping-Pong</mat-chip-option>
    <mat-chip-option (click)="changeGameEvents('pool')">Pool</mat-chip-option>
  </mat-chip-listbox>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Select Month</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="month">
      <mat-option *ngFor="let month of months" [value]="month.value">
        {{month.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

</div>

<app-pool-table *ngIf="pool"></app-pool-table>

<app-ping-pong-table *ngIf="pingPong"></app-ping-pong-table>

<app-table *ngIf="lastGameEvents"></app-table>