#content {
    height: 95vh;
    width: 100%;
    display: flex;
    background-color: #4D4D4D;
  }

  #events-block {
    width: 250%;
    margin: 5px;
    border: 3px solid #191919;
    border-color: #191919;
    border-radius: 10px;
    padding: 20px;
  }

  .class {
    width: 33%;
  }